<h1>Search Results</h1>
<% if @pieces.empty? %>
  <section class="">
    <p> We are sorry! We currently have no results for your query </p>
  </section>
  <% else %>

<section class="pieces">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Piece Title</th>
      <th scope="col">Subtitle</th>
      <th scope="col">Composer Name</th>
    </tr>
    </thead>
    <tbody>
    <% @pieces.each do |piece| %>
      <% if piece.title %>
<<<<<<< HEAD
        <tr class="piece" id = <%= piece.api_work_id %>>
          <td ><%= link_to piece.title, piece_show_path(piece.api_work_id) %></td>
=======
        <tr class="piece" id = <%= piece.piece_id %>>
          <td ><%= link_to piece.title, piece_show_path(piece.piece_id) %></td>
>>>>>>> 4f27719aa2c79bc88b2713bfd27933ad70018642
          <td><%= piece.subtitle %></td>
          <td><%= piece.composer %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</section>
<% end %>
