<footer class="footer">
  <div class="container">
    <p>
      <%= link_to 'Pracrice Hacker', root_path %> was created at Turing School of Software & Design by:
      <span>

       <%= link_to 'Taija W.', 'https://www.linkedin.com/in/taija-warbelow-2257628a/', target: '_blank' %> -
       <%= link_to 'Kwibe M.', 'https://www.linkedin.com/in/kwibe-merci-23696278/', target: '_blank'%> -
       <%= link_to 'Cam C.','https://www.linkedin.com/in/cameronchery/', target: '_blank' %> -
       <%= link_to 'Eric H.', 'https://www.linkedin.com/in/eric-hale-656843155/', target: '_blank' %>
      </span>
    </p>
  </div>
</footer>