<!-- add url and method to line 5 once we have a path for search functionality -->
<!-- add path and method to line 10 once we have browse functionality -->
<navbar>
  <section class='all-user-nav'>
    <%= form_tag '/search', method: :get do %>
      <%= label_tag(:q, "Search for Music") %>
      <%= text_field_tag(:q, nil, placeholder: 'composer name, piece title') %>
      <%= submit_tag("Search") %>
    <% end %>
    <%= link_to "Browse Music" %>
  </section>
  <% if current_user %>
    <section class='current-user-nav'>
      <%= link_to "Favorites" , user_favorites_path%>
      <%= link_to "Profile", "/users/#{current_user.id}" %>
      <%= link_to "Home", root_path %>
      <%= link_to "Log Out", logout_path %>
    </section>
  <% else %>
    <section class="guest-nav">
      <%= link_to "Register", "/auth/google_oauth2" %>
      <%= link_to "Log In", "/auth/google_oauth2" %>
    </section>
  <% end %>
</navbar>
