<section class="username form">
  <h1 class="header">Edit your profile</h1>
  <%= form_tag update_user_path, method: :patch, class: 'edit-user' do %>
    <div class="form-group">
      <%= label_tag :username %>
      <%= text_field_tag :username, current_user.username, class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= label_tag :role %>
      <%= select_tag :role, options_for_select(['Teacher', 'Student', 'Performer']), multiple: true, class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= label_tag :skills %>
      <%= select_tag :skills, options_for_select(['Solo', 'Chamber', 'Orchestral', 'Pedagogy', 'Complex rhythms', 'Extended technique' ]), multiple: true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag :about_me %>
      <%= text_area_tag :about_me, current_user.about_me, class: 'form-control', rows: 8 %>
    </div>

    <div class="edit-submit">
      <%= submit_tag  'Submit Changes', class: 'btn'%>
    </div>
  <% end %>
</section>

<script type="text/javascript">
 $(document).ready(function() {
     $('#role').multiselect();
     $('#skills').multiselect();
 });
</script>
