<h1>Edit your profile</h1>

<% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>

<section class='username'>
  <%= form_tag update_user_path, method: :patch do %>
   <%= label_tag :username %>
   <%= text_field_tag :username, current_user.username %>
   <%= label_tag :about_me %>
   <%= text_field_tag :about_me %>
   <%= submit_tag 'Submit Changes' %>
   <% end %>
</section>
