<%= render partial: "/partials/navbar" %>
<h1 class="title"><%= @piece.title %>
  <% if @piece.subtitle.present? %>
     <%= ": #{@piece.subtitle}"  %>
  <% end %>
</h1>
<h2 class="composer">Composed by: <%= @piece.composer %></h2>
<p class="average-rating">
</p>
<%= link_to "Add Tip", "/pieces/#{@piece.api_work_id}/tips/new", method: :get %>
<p class="tip-count">
</p>
<% @piece.tips.each do |user_tip| %>
  <section id="tips-<%= user_tip.id %>">
    <p>Tip Info: <%= user_tip.tip %></p>
    <p>Difficulty Rating: <%= user_tip.difficulty_rating %>/5</p>
  </section>
<% end %>

<% if current_user.favorite_piece_ids.include?(@piece.id) %>
  <%= link_to 'Remove Favorite', user_favorite_path(piece_id: @piece.id, user_id: current_user.id, api_work_id: @piece.api_work_id), method: :destroy %>
<% else %>
  <%= link_to 'Favorite', user_favorites_path(piece_id: @piece.id, user_id: current_user.id, api_work_id: @piece.api_work_id), method: :post %>
<% end %>
