<%= render partial: "/partials/navbar" %>

<%= link_to "Add Tip", "/pieces/#{@piece.id}/tips/new", method: :get %>

<h1 class="title"><%= @piece.title %>: <%= @piece.subtitle %></h1>
<h3 class="composer">Composed by: <%= @piece.composer %></h3>
<p class="average-rating">
</p>
<p class="tip-count">
</p>
<section class="tips">
</section>
