<h1 class="title piece-title" align="center"><%= @piece.title %>
  <% if @piece.subtitle.present? %>
    <%= ": #{@piece.subtitle}"  %>
  <% end %>
</h1>
<section class="container piece-show">
  <section class="row">
    <div class="col-4">
      <figure class="figure">
        <img src='https://f000.backblazeb2.com/file/PracticeHacker/josep-molina-secall-yO4XF2uC4g0-unsplash.jpg' class="figure-img img-fluid" alt="A generic square placeholder image with rounded corners in a figure.">
        <figcaption class="figure-caption">composed by: <%= @piece.composer %> .</figcaption>
      </figure>
    </div>

    <div class="col-8">
      <h2 class="composer">Composed by: <%= @piece.composer %></h2>
      <p class="average-rating">
      </p>
      <% if current_user %>
        <%= link_to "Add Tip", "/pieces/#{@piece.api_work_id}/tips/new", class: 'btn btn-piece'%>
      <% end %>
      <p class="tip-count">
      </p>
      <% @piece.tips.each do |user_tip| %>
        <section class="tips" id="tips-<%= user_tip.id %>">
          <p>Tip Info: <%= user_tip.tip %></p>
          <p>Difficulty Rating: <%= user_tip.difficulty_rating %>/5</p>
          <%= link_to "Edit Tip", "/pieces/#{@piece.id}/tips/#{user_tip.id}/edit", method: :get, class: 'btn btn-piece' %>
          <%= link_to "Delete Tip", "/pieces/tips/#{user_tip.id}", method: :delete, class: 'btn btn-piece' %>
        </section>
        <hr>
      <% end %>

<p class="average-rating">
</p>
<p class="tip-count">
</p>
  <% if current_user %>
      <% if current_user.piece_ids.include?(@piece.id) %>
        <%= link_to 'Remove Favorite', user_favorite_path(piece_id: @piece.id, user_id: current_user.id), method: :delete, class: 'btn btn-piece'%>
      <% else %>
        <%= link_to 'Favorite', user_favorites_path(piece_id: @piece.id, user_id: current_user.id, api_work_id: @piece.api_work_id), method: :post, class: 'btn btn-piece'%>
      <% end %>
    <% end %>
    </div>
  </section>
</section>
