<%= render partial: "/partials/navbar" %>
<section class="header fav">
  <h3 class="header-title" align="center">My Favorite pieces</h3>
</section>
<section class='pieces fav'>
<% current_user.favorite_pieces.each do |favorite_piece| %>
  <section class="piece-item" id="piece-<%= favorite_piece.id %>">
    <div>
      <section class='title'>
        <%= link_to favorite_piece.piece.title, piece_show_path(favorite_piece.piece.id) %>
        <% if favorite_piece.piece.subtitle.present? %>
          <%= ": #{favorite_piece.piece.subtitle}"  %>
        <% end %>
      </section>

      <section class='composer'>
        <p> Composed by: <%= favorite_piece.piece.composer %></p>
      </section>

      <section class='contributions'>
        <p> Number of tips you've contributed: <%= current_user.tips.where(piece_id: favorite_piece.piece_id).count %></p>
      </section>
    </div>

    <%= link_to 'Remove from Favorites', user_favorite_path(piece_id: favorite_piece.id, user_id: current_user.id, id: favorite_piece.id), method: :delete , class: 'btn btn-piece'%>
  </section>
    <hr>
<% end %>
</section>
