<h1 align= "center" class="tip-header">Give people a tip!</h1>

<section class="form create-tip">
  <%= form_tag "/pieces/#{params[:id]}", method: :post do %>
    <div class="form-group">
      <%= label_tag :tip, "Add your practice tip for this piece" %>
      <%= text_area_tag :tip, nil, class: 'form-control', rows: 8 %>
    </div>

    <div class="form-group">
      <%= label_tag :difficulty_rating, "Difficulty Rating - 1: Pretty Easy, 5: Highly difficult" %>
      <%= select_tag :difficulty_rating, options_for_select([1, 2, 3,  4, 5]), class: 'form-control' %>
    </div>

    <%= submit_tag 'Create Tip', class: 'btn' %>
  <% end %>
</section>
